@utility flex-center {
  @apply flex items-center justify-center;
}

@utility after-element {
  @apply after:content-[''] after:absolute after:left-0;
}

@utility slim-scroll {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background: #ced4da;
    border-radius: 4px;
  }
}

@utility hide-scroll-track {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background: #ffffff;
    background: #ced4da;
    border-radius: 4px;
  }
}

@utility form-width {
  @apply mx-auto w-[100%] sm:w-[70%] md:w-[60%] lg:w-[50%] xl:w-[40%];
}

@utility drawer-form-width {
  @apply mx-auto w-full sm:w-[85%] md:w-[80%] lg:w-[70%];
}

@utility wide-button {
  @apply max-sm:w-full !px-[48px];
}

@utility input-group {
  @apply flex gap-3 max-md:flex-col w-full;
}
